@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.App {
  width: 90%;
  margin: auto;
  min-width: 900px;
  /* margin: 1em auto; */
  /* border: 1px solid #f1356d3c; */
  border-radius: 8px;

  /* App backgrond color ===================*/
  /* background-color: #f1f1f132; */
  /* background-color: #000000; */
}

body {
  /* body backgrond color ===================*/
  background-color: #f1f1f132;
  /* background-color: #000000; */
}



input:focus {
  outline: none;
}

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
  font-size: 14px;
}

.navbar {
  padding: 20px 5em;
  display: flex;
  align-items: center;
  /* max-width: 80%; */
  margin: 0 auto;
  /* border-bottom: 2px solid #f2f2f2; */
  /* background-color: #d8f9ed79; */
  border-radius: 8px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.navbar h1 {
  color: #f1356d;
  font-size: 3em;
}

.navbar .links {
  margin-left: auto;
}

a.btnLink:hover {
  background-color: rgb(164, 154, 10);
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #f1356d;
}

.content {
  max-width: 50%;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
}

/* div {
  border: 1px solid red;
} */


/* GALLERY */

.gallery-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.gallery-preview {
  width: 200px;
  /* border: 1px solid rgba(53, 160, 241, 0.69); */
  border-radius: 8px;
  box-shadow: 1px 3px 5px rgb(0 0 0 / 10%);
  /* background-color: #35a0f1ac; */
  padding: 0.5em;
}

.gallery-preview img {
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.gallery-preview p {
  /* border-bottom: 1px solid #ffffff; */
  margin-bottom: 4px;
  padding-bottom: 2px;
  /* color: white; */
  cursor: pointer;
}

.gallery-preview:hover {
  /* gallery shadow backgrond color ===================*/

  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.381);
  /* box-shadow: 1px 3px 5px rgba(255, 255, 255, 0.863); */
}



.title-gallery {
  display: grid;
  grid-template-columns: 90% 10%;
  /* border-bottom: 1px solid #f1356d; */
  padding-bottom: 1em;
  margin-bottom: 2em;
}

.title-gallery h1 {
  font-size: 26px;
}

.title-blog {
  display: grid;
  grid-template-columns: 90% 10%;
  /* border-bottom: 1px solid #f1356d; */
  padding-bottom: 1em;
  margin-bottom: 2em;
}

.title-blog img {
  width: 36%;
  object-fit: contain;
  padding: 0%;
  margin-bottom: 2%;
  margin-left: 30%;

}

.title-gallery img {
  width: 40%;
  object-fit: contain;
  padding: 0%;
  margin: 0%;
  margin-left: 30%;
}

.title-search h1 {
  font-size: 26px;
  color: #000;
  padding-left: 2%;
  /* padding-bottom: 1em;  */
  display: flex;
}

.title-search .serchingTitle {
  color: #20930e;
}

.title-search-photographer input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 30px;
  margin-bottom: 10px;
  border: 1px solid #35a0f145;
  border-radius: 4px;
}

/* MODAL IMAGE=========================== */

.modal,
.modal .overlay {
  width: 99.1vw;
  max-height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}


.modal .overlay {
  background: rgba(49, 49, 49, 0.8);

}

.modal .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #000000;
  padding: 14px 28px;
  border-radius: 12px;
  min-width: 44%;
}

.modal-content .hover-text {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.396);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.modal-content:hover .hover-text {
  visibility: visible;
}


.modal-content img {
  width: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.modal-content button {
  margin-right: 1.8%;
  padding: .3%;
  min-width: 7%;
  font-size: 10px;
  font-weight: bold;
  background-color: #f76390;
  cursor: pointer;
  border-radius: .8em;
  color: white;
  border: none;
}

.close-modal:hover {
  background-color: rgba(55, 213, 234, 0);
}

.modal-content h2 {
  color: white;
  margin-bottom: 2%;
  padding-bottom: 1%;
  font-weight: normal;
  border-bottom: 1px solid #f76390;
}


/* BLOG */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  /* background-color: #d8f9ed9f; */
  box-sizing: border-box;
}

.blog-preview .author {
  display: flex;
  justify-content: space-between;
  height: 1em;
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 1em;
  color: #5f6d5d;

}

.blog-preview .author img {
  width: 3em;
  object-fit: contain;

}

.author div {
  background-color: #f76390;
  border-radius: 6px;
  border: 2px solid white;
  position: relative;
  top: -30px;
  padding: 4px;
  height: 4em;
}

.blog-preview p {
  font-weight: 500;
  color: #108d25bf;

}

.blog-preview:hover {

  /* blog shadow backgrond color ===================*/

  box-shadow: 1px 3px 5px #02020234;
  /* box-shadow: 1px 3px 5px rgb(255, 255, 255); */

}

.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  /* margin-bottom: 8px; */
}


.blog-preview a {
  text-decoration: none;
}

.blog-details h2 {
  font-size: 80px;
  color: #f1356d;
  margin-bottom: 10px;
}

.blog-details div {
  margin: 20px 0px;
}


.blog-list h1 {
  font-size: 26px;
  color: #000;
}

.blog-list .title-search .serchingTitle {
  color: rgb(32, 147, 14);
}

.blog-list .title-search input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 30px;
  margin-bottom: 10px;
  border: 1px solid #d1e1d2;
  border-radius: 4px;
}

.blog-details .written {
  display: flex;
  justify-content: space-between;
  margin: 6px 0px;
  font-size: 26px;
  color: #707472;
  font-weight: bold;
}

.blog-details .written img {
  width: 20%;
  object-fit: contain;
  position: relative;
  top: -34px;
  border: 2px solid white;
  border-radius: 6px;
  padding: 8px;
  background-color: #f1356d;
  min-height: 10em;
}

.blog-details .date {
  padding-bottom: 10px;
  border-bottom: 2px solid #f1356d;
  color: #f1356d;
  position: relative;
  top: -60px;
}

.loading {
  display: flex;
  justify-content: center;
  font-size: 20px;
  color: #f1356d;
  font-weight: bold;
}


.blogBody {
  white-space: pre-wrap;
  position: relative;
  top: -60px;
  background-color: #dcfbef;
  padding: 1em;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-details button {
  background-color: #f1356d;
  color: #fff;
  font-weight: bold;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.notFound h2,
.notFound a {
  color: #f1356d;
  font-size: 20px;
  font-weight: bold;
}


/* CREATE NEW BLOG FORM*/

.create {
  margin: 0 auto;
  text-align: center;
  max-width: 50%;
  padding: 20px;
  /* background-color: #dcfbef; */
  border-radius: 8px;
}


.create label {
  text-align: left;
  display: block;
  font-weight: 500;
  padding-left: 0.2em;
}

.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.create button {
  color: #ffffff;
  font-weight: bold;
}

.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid rgba(170, 28, 28, 0.327);
  box-sizing: border-box;
  display: block;
}

.create input,
.create select {
  height: 50px;
  border-radius: 4px;
}

.create textarea {
  height: 100px;
}

.create button {
  background-color: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  width: 100px;
}

/* CREATEImage NEW BLOG FORM*/

.createImage {
  margin: 0 auto;
  text-align: center;
  max-width: 50%;
  padding: 20px;
  /* background-color: #dceffb; */
  border-radius: 8px;
}


.createImage label {
  text-align: left;
  display: block;
  /* color: #217254; */
  font-weight: 500;
  padding-left: 0.2em;
}

.createImage h2 {
  font-size: 20px;
  color: #35a0f1;
  margin-bottom: 30px;
}

.createImage button {
  color: #ffffff;
  font-weight: bold;
  margin-top: 10px;
  width: 100px;
}

.createImage input,
.createImage textarea,
.createImage select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #35a0f16c;
  border-radius: 4px;
  box-sizing: border-box;
  display: block;
}

.createImage textarea {
  height: 100px;
}

.createImage input,
.createImage select {
  height: 50px;
}

.createImage button {
  background-color: #35a0f1;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #f1356d; */
  /* border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px; */
  width: 100%;
  height: 5em;
  margin-bottom: -1px;
}

.footer h1 {
  color: #f1356d;
  font-size: 2em;
}